* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: none;
  padding: none;
}

body {
  height: 100vh;
}

.title {
  text-align: center;
  border-bottom: solid rgb(0,0,0) 2px;
  /* width: 100%; */
  font-weight: bold;
}

.recipe-img {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.first, .second, .third {
  height: 300px;
  margin: 20vh 0 0 0;
}

.recipe-img img {
  width: auto;
  height: 100%;
  position: relative;
  filter: brightness(50%);
  border: solid rgb(0,0,0) 2px;
}

.recipe-img img:hover {
  filter: brightness(100%);
}

.recipe-img img:hover  + .recipe-name {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

a .recipe-name {
  color: #000;
  margin: auto 0;
  border: #000 2px solid;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: lightskyblue;
}

a {
  text-decoration: none;
}

a .one, a .two, a .three {
  text-align: center;
}